
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>华电龙口 人力资源部</title>
		{% load static %}
		<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css">

	</head>
 
	<body>
		<!--首先是整体容器，其次第一块区域，里面分为上下-->
		<div class="pages_agile_info_w3l">
			<div class="over_lay_agile_pages_w3ls">
				<div class="registration">
					<div class="signin-form profile">
						<!--分成四个区域：标题，表格，第三方登录，注册-->
						<span style="font-size:40px"><strong>用户注册</strong></span>
						<br>
                        <span style="color: red;font-size: 25px">{{errormsg}}</span>
						<div class="login-form">
							<form action="{%url 'register'%}" method='POST'>
                                {% csrf_token %}
								<input type="text" name="IDcard" placeholder="身份证号" required="">
								<input type="text" name="last_name" placeholder="姓名" required="">
								<input type="password" name="password" placeholder="密码" required="">
								<input type="password" name="password2" placeholder="再输一次密码" required="">
								<div class="tp">
									<input type="submit" value="注册">
								</div>
							</form>
						<p>
							<a href="{%url 'login'%}" style="color: #FFFFFF"> 若有账号，请登录</a>
						</p>
						<h6><a href="{%url 'roothome'%}" style="color: #FFFFFF">返回首页</a></h6>
					</div>
				</div>
				<div class="copyrights_agile">
 
				</div>
			</div>
		</div>
	</body>
 
</html>